.equipment{
    background: url(../../img/equipment-bk.png) no-repeat center;
    background-size: 100% 100%;
}

.header-equipment-additional::after{
    left: 180px;
}

.Equipment-Price-title-blockOne span{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 3rem;
}

.Equipment-Price-title-blockOne h1{
    font-weight: 700;
}