.section,
section,
header,
main{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.7s; /*Скорость перехода состояния элемента*/
    animation: show 4s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}



@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@font-face {
    font-family: MVideo; /* Имя шрифта */
    src: url(../../fonts/10479.ttf); /* Путь к файлу со шрифтом */
   };

   /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
li {
  list-style: none !important;
}

a{
    color:#fff !important;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select,
p,
h1 {
  font: inherit;
}


main{
    display: flex !important;
    height: 100vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: url(../../img/mobile-main.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

main h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.3rem;
}

main ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
    margin-top: 30vh;
}


main ul li{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 0.7rem;
}

main .inst-mobile{
    margin-top: auto;
    margin-bottom: 1rem;
}